/target
*.asm
*.o
*.c
*.exe
*.out

web/node_modules
web/.pnp
web/.pnp.js
web/.yarn/install-state.gz
web/.next/
web/out/
web/build
web/.DS_Store
web/*.pem
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.env*.local
web/.vercel
web/next-env.d.ts
